In [2]:
print("Hello World")

Hello World

In [3]:
import pandas as pd
import numpy as np

In [4]:
books = pd.read_csv('BX-Books.csv', sep=";", error_bad_lines=False, encoding='latin-1')

c:\Users\Testing\anaconda3\envs\books\lib\site-packages\IPython\core\interactiveshell.py:3552: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'
c:\Users\Testing\anaconda3\envs\books\lib\site-packages\IPython\core\interactiveshell.py:3552: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [5]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [6]:
books.shape

(271360, 8)

In [7]:
books.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [8]:
books = books[['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher', 'Image-URL-L']]

In [9]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...

In [10]:
ratings = pd.read_csv('BX-Book-Ratings.csv', sep=";", error_bad_lines=False, encoding='latin-1')

c:\Users\Testing\anaconda3\envs\books\lib\site-packages\IPython\core\interactiveshell.py:3552: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

In [11]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [12]:
ratings.shape

(1149780, 3)

In [13]:
user = pd.read_csv('BX-Users.csv', sep=";", error_bad_lines=False, encoding='latin-1')

c:\Users\Testing\anaconda3\envs\books\lib\site-packages\IPython\core\interactiveshell.py:3552: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

In [14]:
user.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [15]:
user.shape

(278858, 3)

In [16]:
print(books.shape, ratings.shape, user.shape, sep='\n')

(271360, 6)
(1149780, 3)
(278858, 3)

In [17]:
ratings['User-ID'].value_counts()

11676     13602
198711     7550
153662     6109
98391      5891
35859      5850
          ...
116180        1
116166        1
116154        1
116137        1
276723        1
Name: User-ID, Length: 105283, dtype: int64

In [18]:
#Readers who has rated more than 20 books
x = ratings['User-ID'].value_counts() > 20

In [19]:
x

11676      True
198711     True
153662     True
98391      True
35859      True
          ...
116180    False
116166    False
116154    False
116137    False
276723    False
Name: User-ID, Length: 105283, dtype: bool

In [20]:
#Filtering the users who have rated more than 20 books
x[x].shape

(7078,)

In [21]:
y = x[x].index

In [22]:
y

Int64Index([ 11676, 198711, 153662,  98391,  35859, 212898, 278418,  76352,
            110973, 235105,
            ...
            107594,  91838,  12692, 194699,  61296,  87820, 120579, 147385,
             87333, 252491],
           dtype='int64', length=7078)

In [23]:
ratings = ratings[ratings['User-ID'].isin(y)]

In [24]:
ratings.head()

    User-ID        ISBN  Book-Rating
31   276762  034544003X            0
32   276762  0380000059            0
33   276762  0380711524            5
34   276762  0451167317            0
35   276762  0451454952            0

In [25]:
ratings_with_books = ratings.merge(books, on='ISBN')

In [26]:
ratings_with_books.head()

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-L
0,276762,034544003X,0,Southampton Row (Charlotte &amp; Thomas Pitt N...,Anne Perry,2002,Ballantine Books,http://images.amazon.com/images/P/034544003X.0...
1,29259,034544003X,0,Southampton Row (Charlotte &amp; Thomas Pitt N...,Anne Perry,2002,Ballantine Books,http://images.amazon.com/images/P/034544003X.0...
2,35050,034544003X,0,Southampton Row (Charlotte &amp; Thomas Pitt N...,Anne Perry,2002,Ballantine Books,http://images.amazon.com/images/P/034544003X.0...
3,98391,034544003X,9,Southampton Row (Charlotte &amp; Thomas Pitt N...,Anne Perry,2002,Ballantine Books,http://images.amazon.com/images/P/034544003X.0...
4,134797,034544003X,0,Southampton Row (Charlotte &amp; Thomas Pitt N...,Anne Perry,2002,Ballantine Books,http://images.amazon.com/images/P/034544003X.0...

In [27]:
no_of_ratings = ratings_with_books.groupby('Book-Title')['Book-Rating'].count().reset_index()

In [28]:
no_of_ratings.head()

                                          Book-Title  Book-Rating
0   A Light in the Storm: The Civil War Diary of ...            4
1                              Always Have Popsicles            1
2               Apple Magic (The Collector's series)            1
3   Ask Lily (Young Women of Faith: Lily Series, ...            1
4   Beyond IBM: Leadership Marketing and Finance ...            1

In [39]:
final_ratings = ratings_with_books.merge(no_of_ratings, on='Book-Title')

In [40]:
final_ratings.head()

,User-ID,ISBN,Book-Rating_x,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-L,Book-Rating_y
0,276762,034544003X,0,Southampton Row (Charlotte &amp; Thomas Pitt N...,Anne Perry,2002,Ballantine Books,http://images.amazon.com/images/P/034544003X.0...,13
1,29259,034544003X,0,Southampton Row (Charlotte &amp; Thomas Pitt N...,Anne Perry,2002,Ballantine Books,http://images.amazon.com/images/P/034544003X.0...,13
2,35050,034544003X,0,Southampton Row (Charlotte &amp; Thomas Pitt N...,Anne Perry,2002,Ballantine Books,http://images.amazon.com/images/P/034544003X.0...,13
3,98391,034544003X,9,Southampton Row (Charlotte &amp; Thomas Pitt N...,Anne Perry,2002,Ballantine Books,http://images.amazon.com/images/P/034544003X.0...,13
4,134797,034544003X,0,Southampton Row (Charlotte &amp; Thomas Pitt N...,Anne Perry,2002,Ballantine Books,http://images.amazon.com/images/P/034544003X.0...,13

In [41]:
final_ratings = final_ratings.rename(columns=
                                     {'Book-Rating_x': 'Book-Rating', 'Book-Rating_y': 'No-Of-Ratings'})

In [42]:
final_ratings = final_ratings[final_ratings['No-Of-Ratings'] >= 20]

In [43]:
final_ratings.head()

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-L,No-Of-Ratings
14,276762,0380711524,5,See Jane Run,Joy Fielding,1992,Avon,http://images.amazon.com/images/P/0380711524.0...,41
15,7158,0380711524,0,See Jane Run,Joy Fielding,1992,Avon,http://images.amazon.com/images/P/0380711524.0...,41
16,23768,0380711524,0,See Jane Run,Joy Fielding,1992,Avon,http://images.amazon.com/images/P/0380711524.0...,41
17,28204,0380711524,9,See Jane Run,Joy Fielding,1992,Avon,http://images.amazon.com/images/P/0380711524.0...,41
18,36606,0380711524,0,See Jane Run,Joy Fielding,1992,Avon,http://images.amazon.com/images/P/0380711524.0...,41

In [44]:
# Drop duplicates
final_ratings.drop_duplicates(['User-ID', 'Book-Title'], inplace=True)

In [45]:
# Check for missin values
final_ratings.isnull().sum()

User-ID                0
ISBN                   0
Book-Rating            0
Book-Title             0
Book-Author            0
Year-Of-Publication    0
Publisher              0
Image-URL-L            0
No-Of-Ratings          0
dtype: int64

In [46]:
pivot_books = final_ratings.pivot_table(index='Book-Title', columns='User-ID', values='Book-Rating')

In [47]:
pivot_books

User-ID,183,242,243,254,383,388,408,446,487,503,...,278202,278221,278356,278418,278535,278563,278582,278633,278843,278851
Book-Title,,,,,,,,,,,,,,,,,,,,,
'Salem's Lot,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10 Lb. Penalty,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1001 Ways to Be Romantic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101 Dalmatians,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
"14,000 Things to Be Happy About",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"\ Lamb to the Slaughter and Other Stories (Penguin 60s S.)""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
"\O\"" Is for Outlaw""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN,NaN
"\Surely You're Joking, Mr. Feynman!\"": Adventures of a Curious Character""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
e,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
stardust,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
pivot_books.shape

(5797, 6807)

In [49]:
pivot_books.fillna(0, inplace=True)

In [50]:
pivot_books

User-ID,183,242,243,254,383,388,408,446,487,503,...,278202,278221,278356,278418,278535,278563,278582,278633,278843,278851
Book-Title,,,,,,,,,,,,,,,,,,,,,
'Salem's Lot,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10 Lb. Penalty,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1001 Ways to Be Romantic,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101 Dalmatians,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"14,000 Things to Be Happy About",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"\ Lamb to the Slaughter and Other Stories (Penguin 60s S.)""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,9.0,0.0,0.0,0.0,0.0,0.0
"\Surely You're Joking, Mr. Feynman!\"": Adventures of a Curious Character""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
e,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
stardust,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [51]:
from scipy.sparse import csr_matrix

In [52]:
sparce_books = csr_matrix(pivot_books)

In [53]:
sparce_books

<5797x6807 sparse matrix of type '<class 'numpy.float64'>'
	with 93927 stored elements in Compressed Sparse Row format>

In [55]:
from sklearn.neighbors import NearestNeighbors
model = NearestNeighbors(algorithm='brute')

In [56]:
model.fit(sparce_books)

NearestNeighbors(algorithm='brute')

In [57]:
pivot_books.iloc[356,:]

User-ID
183       0.0
242       0.0
243       0.0
254       0.0
383       0.0
         ...
278563    0.0
278582    0.0
278633    0.0
278843    0.0
278851    0.0
Name: Angels Everywhere: A Season of Angels/Touched by Angels (Avon Romance), Length: 6807, dtype: float64

In [58]:
distance, suggestions = model.kneighbors(pivot_books.iloc[356,:].values.reshape(1, -1), n_neighbors=5)

In [59]:
distance

array([[ 0.        , 23.97915762, 25.82634314, 25.92296279, 26.2488095 ]])

In [60]:
suggestions

array([[ 356, 2688, 5707, 1068, 4870]], dtype=int64)

In [61]:
for i in range(len(suggestions)):
    print(pivot_books.index[suggestions[i]])

Index(['Angels Everywhere: A Season of Angels/Touched by Angels (Avon Romance)',
       'Moon Over Water', 'Wish List', 'Darling Daughters',
       'The Perfect Elizabeth : A Tale of Two Sisters'],
      dtype='object', name='Book-Title')

In [64]:
book_names = pivot_books.index

In [65]:
book_names

Index([''Salem's Lot', '10 Lb. Penalty', '1001 Ways to Be Romantic',
       '101 Dalmatians', '14,000 Things to Be Happy About',
       '16 Lighthouse Road', '1984', '1st to Die: A Novel',
       '2001: A Space Odyssey', '2010: Odyssey Two',
       ...
       'Zia', 'Zlata's Diary: A Child's Life in Sarajevo',
       'Zodiac: The Eco-Thriller', 'Zombies of the Gene Pool', 'Zoya',
       '\ Lamb to the Slaughter and Other Stories (Penguin 60s S.)"',
       '\O\" Is for Outlaw"',
       '\Surely You're Joking, Mr. Feynman!\": Adventures of a Curious Character"',
       'e', 'stardust'],
      dtype='object', name='Book-Title', length=5797)

In [95]:
book_names[5793]

'\\O\\" Is for Outlaw"'

In [66]:
final_ratings.head()

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-L,No-Of-Ratings
14,276762,0380711524,5,See Jane Run,Joy Fielding,1992,Avon,http://images.amazon.com/images/P/0380711524.0...,41
15,7158,0380711524,0,See Jane Run,Joy Fielding,1992,Avon,http://images.amazon.com/images/P/0380711524.0...,41
16,23768,0380711524,0,See Jane Run,Joy Fielding,1992,Avon,http://images.amazon.com/images/P/0380711524.0...,41
17,28204,0380711524,9,See Jane Run,Joy Fielding,1992,Avon,http://images.amazon.com/images/P/0380711524.0...,41
18,36606,0380711524,0,See Jane Run,Joy Fielding,1992,Avon,http://images.amazon.com/images/P/0380711524.0...,41

In [92]:
np.where(pivot_books.index == '\\ Lamb to the Slaughter and Other Stories (Penguin 60s S.)"')[0][0]

5792

In [96]:
ids = np.where(final_ratings['Book-Title'] == '\\O\\" Is for Outlaw"')[0][0]

In [97]:
final_ratings.iloc[ids]['Image-URL-L']

'http://images.amazon.com/images/P/0449003787.01.LZZZZZZZ.jpg'

In [98]:
book_name = []
for book_id in suggestions:
    book_name.append(pivot_books.index[book_id])

In [99]:
book_name

[Index(['Angels Everywhere: A Season of Angels/Touched by Angels (Avon Romance)',
        'Moon Over Water', 'Wish List', 'Darling Daughters',
        'The Perfect Elizabeth : A Tale of Two Sisters'],
       dtype='object', name='Book-Title')]

In [101]:
ids_index = []
for name in book_name[0]:
    ids = np.where(final_ratings['Book-Title'] == name)[0][0]
    ids_index.append(ids)

In [102]:
ids_index

[285761, 276156, 285818, 272353, 158650]

In [103]:
for idx in ids_index:
    url = final_ratings.iloc[idx]['Image-URL-L']
    print(url)

http://images.amazon.com/images/P/0060508302.01.LZZZZZZZ.jpg
http://images.amazon.com/images/P/1551665336.01.LZZZZZZZ.jpg
http://images.amazon.com/images/P/0821752286.01.LZZZZZZZ.jpg
http://images.amazon.com/images/P/0373835124.01.LZZZZZZZ.jpg
http://images.amazon.com/images/P/0312270801.01.LZZZZZZZ.jpg

In [105]:
# Save as binary files
import pickle
pickle.dump(model,open('artifacts/model.pkl','wb'))
pickle.dump(book_names,open('artifacts/book_names.pkl','wb'))
pickle.dump(final_ratings,open('artifacts/final_rating.pkl','wb'))
pickle.dump(pivot_books,open('artifacts/book_pivot.pkl','wb'))

Testing Model

In [106]:
def recommend_book(book_name):
    book_id = np.where(pivot_books.index == book_name)[0][0]
    distance, suggestion = model.kneighbors(pivot_books.iloc[book_id,:].values.reshape(1,-1), n_neighbors=7 )
    
    for i in range(len(suggestion)):
            books = pivot_books.index[suggestion[i]]
            for k in books:
                if k == book_name:
                    print(f"You searched '{book_name}'\n")
                    print("The suggestion books are: \n")
                else:
                    print(k)

In [112]:
book_name = 'stardust'
recommend_book(book_name)

You searched 'stardust'

The suggestion books are:

Cauldron
Izzy, Willy-Nilly
Our Game
Thorns of Truth
People Like Us
Ancient Evenings